<template>
  <li class="sub-menu" :class="{active: isActive}">
      <a href="javascript:;" @click.prevent="isActive = !isActive">
        <i :class="`fa fa-${menu.icon}`"></i>
        <span>{{ menu.name }}</span>
      </a>
      <transition name="menu-collapse">
        <ul class="sub" v-show="isActive">
          <li v-for="sub in menu.submenus" :key="sub.name">
            <router-link :to="sub.path">
              <i :class="`fa fa-${sub.icon}`"></i>
              <span>{{ sub.name }}</span>
            </router-link>
          </li>
        </ul>
      </transition>
    </li>
</template>

<script>
export default {
  data: () => ({
    isActive: false
  }),
  props: ['menu']
}
</script>