<template>
  <div id="sidebar" class="navbar-collapse">
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered">
        <router-link exact to="profile">
          <img :src="picture" class="img-circle" width="80" height="80" style="object-fit: cover">
        </router-link>
      </p>
      <h5 class="centered">{{ name }}</h5>
      <hr>
      <template v-for="menu in menus">
        <menu-group :menu="menu" v-if="menu.isGroup" :key="menu.name"/>
        <li v-else :key="menu.name">
          <router-link :to="menu.path">
            <i :class="`fa fa-${menu.icon}`"></i>
            <span>{{ menu.name }}</span>
          </router-link>
        </li>
      </template>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import MenuGroup from './MenuGroup.vue'

export default {
  computed: {
    ...mapState({
      name: state => state.auth.user.name,
      picture: state => state.auth.user.picture
    }),
    menus () {
      return this.$store.getters.sidebarMenus
    }
  },
  components: {
    MenuGroup
  }
}
</script>