<template>
  <header class="header black-bg">
    <div class="sidebar-toggle-box">
      <div class="fa fa-bars tooltips" @click="$emit('toggle:sidebar')" />
    </div>
    <router-link class="logo" to="/"><b>PORTAL<span>ROKUM</span></b></router-link>
    <div class="top-menu">
      <ul class="nav pull-right top-menu">
        <li><a class="logout" href="/logout" @click.prevent="$store.dispatch('logoutKemenkeu')">Logout</a></li>
      </ul>
    </div>
  </header>
</template>