<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Portal Rokum</title>
    <!-- Bootstrap core CSS -->
    <link href="<%= BASE_URL %>lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--external css-->
    <link href="<%= BASE_URL %>lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="<%= BASE_URL %>css/style.css" rel="stylesheet">
    <link href="<%= BASE_URL %>css/style-responsive.css" rel="stylesheet">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but portal-rokum-vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
