<template>
  <div id="login-page">
    <div class="container">
      <form class="form-login" @submit.prevent="submit">
        <h2 class="form-login-heading">masuk</h2>
        <div class="login-wrap">
          <input v-model="username" :disabled="isPending" type="text" class="form-control" placeholder="User ID / NIP" autocomplete="username" autofocus>
          <br>
          <input v-model="password" :disabled="isPending" type="password" class="form-control" autocomplete="current-password" placeholder="Password">
          <br>
          <button :disabled="isPending" class="btn btn-theme btn-block" href="index.html" type="submit">
            <i class="fa" :class="isPending ? 'fa-spinner' : 'fa-lock'"></i> Masuk
          </button>
          <hr>
          <div class="centered">Gunakan akun KemenkeuID untuk masuk.</div>
        </div>
      </form>
    </div>
    <back-stretch/>
  </div>
</template>

<script>
  import BackStretch from '@/components/BackStretch.vue'

  export default {
    data: () => ({
      username: '',
      password: ''
    }),
    computed: {
      isPending() {
        return this.$store.state.app.isPending
      }
    },
    methods: {
      submit() {
        this.$store.dispatch('loginKemenkeu', { username: this.username, password: this.password })
      }
    },
    components: { BackStretch }
  }
</script>