<template>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 p404 centered">
        <img src="img/404.png" alt="">
        <h1>DON'T PANIC!!</h1>
        <h3>Halaman tidak ditemukan.</h3>
        <br>
        <router-link to="/" tag="button" class="btn btn-theme mt">Kembali</router-link>
        <h5 class="mt">Portal Rokum - 2018</h5>
      </div>
    </div>
  </div>
</template>