<template>
  <div class="backstretch">
    <transition name="fade">
      <img src="img/login-bg.jpg" v-if="show">
    </transition>
  </div>
</template>

<script>
export default {
  data: () => ({
    show: false
  }),
  mounted() {
    window.setTimeout(()=>{ this.show = true }, 0)
  }
}
</script>

<style>
  .fade-enter-active {
    transition: opacity .5s;
  }

  .fade-enter {
    opacity: 0;
  }

  .backstretch {
    left: 0px;
    top: 0px;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    height: 979px;
    width: 1920px;
    z-index: -999999;
    position: fixed;
  }

  .backstretch img {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: none;
    width: 1920px;
    height: 1280.25px;
    max-width: none;
    z-index: -999999;
    left: 0px;
    top: -150.625px;
  }
</style>