<template>
  <section class="wrapper" id="naskah-keluar-daftar">
    <div class="row mt">
      <div class="col-sm-12">
        <div class="content-panel">
          <div class="white-header">
            <h3>Daftar Naskah Dinas Keluar</h3>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Nomor & Tanggal</th>
                <th>Bagian & Konseptor</th>
                <th>Perihal</th>
                <th>Tujuan & Tembusan</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(n, i) in tampilan" :key="i">
                <td>#</td>
                <td>
                  <b>{{`${n.jenis}‑${n.nomor}/SJ.3/${n.tahun}`}}</b>
                  <p>{{(new Date(n.tanggal)).toLocaleDateString('id', {year: 'numeric', month: 'long', day: 'numeric'})}}</p>
                </td>
                <td>{{n.bagian}}</td>
                <td>{{n.perihal}}</td>
                <td>
                  <b v-if="n.tujuan.length <= 1">{{n.tujuan[0]}}</b>
                  <ol v-else>
                    <li v-for="(tujuan, index) in n.tujuan" :key="index"><b>{{ tujuan }}</b></li>
                  </ol>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import axios from '@/plugins/axios.js'

export default {
  data: () => ({
    filter: '',
    page: 0,
    limit: 20,
    naskah: []
  }),
  computed: {
    tampilan() {
      let start = this.page * this.limit
      let end = start + this.limit
      return this.naskah.slice(start, end)
    }
  },
  mounted() {
    axios.get('naskah-keluar')
      .then(res => res.data)
      .then(data => this.naskah = data)
  }
}
</script>
