/* sidebar-slide */

.sidebar-slide-leave-to, .sidebar-slide-enter {
  left: -250px;
}
.sidebar-slide-enter-active {
  transition: left .25s ease-out;
}
.sidebar-slide-leave-active {
  transition: left .25s ease-in;
}
.sidebar-slide-enter-to, .sidebar-slide-leave {
  left: 0px;
}

@media (max-width: 768px) {
  .sidebar-slide-leave-to, .sidebar-slide-enter {
    top: -250px;
    left: 0px;
  }
  .sidebar-slide-enter-active {
    transition: top .25s ease-out;
  }
  .sidebar-slide-leave-active {
    transition: top .25s ease-in;
  }
  .sidebar-slide-enter-to, .sidebar-slide-leave {
    top: 0px;
  }
}

/* menu-collapse */
.menu-collapse-leave-to, .menu-collapse-enter {
  max-height: 0px;
  overflow: hidden;
}

.menu-collapse-enter-active {
  transition: max-height .25s ease-out;
}

.menu-collapse-leave-active {
  transition: max-height .25s ease-in;
}

.menu-collapse-enter-to, .menu-collapse-leave {
  max-height: 100px;
  overflow: hidden;
}
