<template>
  <section id="container" :class="{'sidebar-closed': !sidebar}">
    <top-bar @toggle:sidebar="sidebar = !sidebar"/>
    <side-bar/>
    <section id="main-content">
      <router-view/>
    </section>
  </section>
</template>

<script>
import TopBar from '@/components/MainLayout/TopBar.vue'
import SideBar from '@/components/MainLayout/SideBar.vue'

export default {
  computed: {
    sidebar: {
      get: function() {
        return this.$store.state.app.sidebar
      },
      set: function(bool) {
        this.$store.commit('setSidebar', bool)
      }
    }
  },
  components: {
    TopBar,
    SideBar
  }
}
</script>
